/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} 
textarea {overflow:auto;}

/***** RESET *****/



.hepsi{
    width:760px;
    height: auto;
    margin:10px auto;
}


.anamenu{
    width: 400px;
    height: 50px;
}
body{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1e262e;
    background-image: url("img/arkaplan.jpg");
    font-family: 'Open Sans',sans-serif;

}

#sayfa{
    width: 800px ;
    min-height: 500px;
    border-width: 1px;
    margin: auto;
}
/* banner*/
#banner{
    width: 796px;
    height: 120px;
    background-color: #1c282e;
    margin:0 auto;
    
    

}
#logo{
    width:100px;
    height: 80;
    border-width: 1px;
    position: relative;
    top: 10px;
    left: 10px;
    float:left;

}

#sosyal{
    width:180px;
    height: 80;
    border-width: 1px;
    position: relative;
    top: 50px;
    right: 10px;
    float: right;

}

/* icerik kismi*/
#icerik{
    width: 790px;
    height: 900px;
    margin:0 auto;
    background-color:#ccd3d9        
    
}


.harita{
    margin-left: 50px;
}
.crypto{
    margin-top:25px;

}
.kripto{
	margin-top:25px;
	margin-bottom: 50px ; 
    float: right;   
}

/* alt menu */
#altmenu{
    width: 100%;
    height: 50px;
    background-color: #a1afba;
}

/* logo */
#logo{
    width: 100px;
    height: 80px;
    border-width: 1px;
    position:relative;
    top:10px;
    left:10px;
    float:left;
}
#sosyal{
    width: 150px; 
    float:right;
    height: 0px;
    border-width: 1px;
    position: relative;
    top:40px;
    right:10px; 
    left:28px;

}
#ikon{
    width: 35px;
    height: 35px;

}
/* ANA MENU */
#anamenu{
    width: 796px;
    height: 50px;
    background-color: #6a8595;
    margin:0 auto;
    background-image: repeating-linear-gradient(-55deg, #333333, #333333 18.62px, transparent 19px, transparent 31.740000000000002px, #333333 32px), repeating-linear-gradient(35deg, #333333, #333333 18.62px, transparent 19px, transparent 31.740000000000002px, #333333 32px), repeating-linear-gradient(125deg, #333333, #333333 18.62px, transparent 19px, transparent 31.740000000000002px, #333333 32px), repeating-linear-gradient(215deg, #333333, #333333 18.62px, transparent 19px, transparent 31.740000000000002px, #333333 32px);
    background-image: repeating-linear-gradient(-60deg, #333333, #333333 6px, transparent 6px, transparent 10px, #333333 10px), repeating-linear-gradient(30deg, #333333, #333333 6px, transparent 6px, transparent 10px, #333333 10px), repeating-linear-gradient(120deg, #333333, #333333 6px, transparent 6px, transparent 10px, #333333 10px), repeating-linear-gradient(210deg, #333333, #333333 6px, transparent 6px, transparent 10px, #333333 10px);
    background-size: 2px calc(100% + 22px), calc(100% + 22px) 2px, 2px calc(100% + 22px) , calc(100% + 22px) 2px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 1s infinite linear;
}
@keyframes borderAnimation {
    from { background-position: 0 0, -20px 0, 100% -20px, 0 100%; }
    to { background-position: 0 -20px, 0 0, 100% 0, -20px 100%; }
    }
#anamenu ul{
    list-style-type: none;
}
#anamenu ul li{
    width:80px;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    border-color:rgb(168 160 159);
    background-color: #cac3bd;
    float:left;
    padding: 6px;
    margin-left: 32px;
    position: relative;
    top:10px;
    text-align: center;
    
    
}

#anamenu ul a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;

}


#anamenu ul a:link{
    color: cyan;
}

#anamenu ul a:visited{
color: brown;
}

#anamenu ul a:hover{
    color: gray;
    text-decoration: underline;
}

#anamenu ul a:active{
color: crimson;
}

/* icerik css */

.icerik_gundem li{
    width:200px;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    border-color:rgb(134 128 61);
    background-color: #cac3bd;
    float:left;
    padding: 30px;
    margin-left: 100px;
    margin-top:30%;
    position: relative;
    text-align: center;
    
    
}

.icerik li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;

}


.icerik_gundem li a:link{
    color: cyan;
}

.icerik_gundem li a:visited{
color: brown;
}

.icerik_gundem li a:hover{
    color: gray;
    text-decoration: underline;
}

.icerik_gundem li a:active{
color: crimson;
}

/* iletisim */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.container_iletisim  {
	max-width:400px;
	width:100%;
    padding:50px;
	position:relative;
}

#icerik h1{
	padding:60px 0px 0px 40px;
} 
#icerik h3{
		padding:60px 0px 0px 40px;

}
#icerik h2{
		padding:0px 0px 20px 50px;

}
#contact input[type="text"], #contact input[type="email"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	width:400px;
	height:400px;
	background:#F9F9F9;
	padding:25px;
	margin-top:-370px;
	margin-left:270px;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
	margin-bottom:15px;
}


fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
	width:378px;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover,  #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/* foto */
 .main{
     width: 80%;
     padding: 10px;
     background-color: white;
     margin: auto;
     box-shadow: 0px 5px 30px 1px gray;
    }
 .main img{
     width: 100%;
 }

.other {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
} 

.other  li:hover {
    box-shadow: 1px 1px 10px 5px gray;
}
.other  ul li img{
    width: 10%;
    
}
.icerik_foto li{
    width:150px;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    border-color:rgb(134 128 61);
    background-color: #cac3bd;
    float:left;
    margin-left:35px;
    padding: 20px;
    margin-top:25%;
    position: relative;
    text-align: center;
    
    
}

#hava {
    float:right;
    padding:40px;
    margin-top: -240px;


}

#spoti{
    width: 250px;
    height: 250px;
    margin-left: 30%;
    margin-top: 100px;
}
#hk{
    margin-left: 150px;
}
#playPauseButton{
  position: relative;
  /* the button's background color */
  background: #fff; 
  border: none;
  outline:none;
  height: 5em;
  width: 5em;
  font-size: 2em; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
  cursor:pointer;
   /* the button's a circle */ 
	-moz-border-radius: 5em;
	-webkit-border-radius: 5em;
	border-radius: 5em;
  
}

#playPauseButton:focus{
  outline:none;
}

 /* the button's top layer: size, shape, appearance */
#playPauseButton:before {
  content: "";
  position: absolute;
  top: 1.5em;
   /* for visual centering */
  left: 1.67em;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 2em;
  /* create shape with color */
  border-color: transparent transparent transparent #4b6fbd; 
  transition: .218s ease;
}

#playPauseButton:hover:before {
  height: 2em;
  border-width: 0 0 0 2em;
}

 /* the button's mouseover/click/hover layer: size, shape, appearance */
#playPauseButton:after {
  content: "";
  position: absolute;
  background: inherit;
  width: 0;
  height: 2em;
  top: 1.5em;
   /* for visual centering */
  left: 2.42em;
  transition: .218s ease;
}

#playPauseButton:hover:after {
  width: .5em;
}